@page "/araska"


@using MTurk.Data

@inject ISessionService _db

<h3>Admin</h3>
@if (sessions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a class="btn btn-danger" role="button" href="dwn/500"
       download="proposed_file_name">
        Download last 500 finished games
    </a>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>DateTime</th>
                <th>SessionID</th>
                <th>WorkerID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in sessions)
            {
                <tr>
                    <td>@session.Time.ToString("o") </td>
                    <td>@session.Id</td>
                    <td>@session.WorkerId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SessionModel> sessions;
    protected override async Task OnInitializedAsync()
    {
        sessions = await _db.GetAllSessionsAsync();
    }

}
