@page "/game"

<h3>Game</h3>
<h4>You get <span class="font-weight-bold">3</span> cookies, if you do not reach agreement.</h4>



<div class="container mt-4">


    <div class="row d-flex flex-row-reverse">


        <div class="col-md-6 mb-4 d-flex flex-row-reverse">

            <div class="card chat-room small-chat wide" id="myForm">

                <div class="my-custom-scrollbar pre-scrollable" id="message">
                    <div class="card-body p-3">
                        <div class="">
                            <div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
                                <div class="card-body p-2">
                                    <p class="card-text black-text">Let's split cookies like this:  15 cookies for me and 5 cookies for you.</p>
                                </div>
                            </div>
                            <div class="card bg-primary rounded w-75 float-right z-depth-0 mb-1">
                                <div class="card-body p-2">
                                    <p class="card-text text-white">How about 4 cookies for you and 16 for me?</p>
                                </div>
                            </div>
                            <div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
                                <div class="card-body p-2">
                                    <p class="card-text black-text">9 for me and 11 for you?</p>
                                </div>
                            </div>
                            <div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
                                <div class="card-body p-2">
                                    <p class="card-text black-text">Let's split cookies like this:  15 cookies for me and 5 cookies for you.</p>
                                </div>
                            </div>
                            <div class="card bg-primary rounded w-75 float-right z-depth-0 mb-1">
                                <div class="card-body p-2">
                                    <p class="card-text text-white">How about 4 cookies for you and 16 for me?</p>
                                </div>
                            </div>
                            <div class="card bg-light rounded w-75 z-depth-0 mb-1 message-text">
                                <div class="card-body p-2">
                                    <p class="card-text black-text">9 for me and 11 for you?</p>
                                </div>
                            </div>
                            <div class="card bg-primary rounded w-75 float-right z-depth-0 mb-1">
                                <div class="card-body p-2">
                                    <p class="card-text text-white">Agreed! 9 cookies for you and 11 for me. Thank you 😀</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>



@code {

    // https://www.nexmo.com/blog/2019/12/18/create-a-simple-messaging-ui-with-bootstrap-dr
}
