@page "/instructions"

<div class="d-flex justify-content-center">
    <h3>Gold Bar Game Rules</h3>
</div>
<div class="d-flex justify-content-center">
    <div class="card mt-4">
        <div class="p-4">
            There are 20 gold bars. You negotiate with another player (call them XY) how to split them up between you two. You and XY make demands in turns. For example, you could demand 17 bars (which leaves 3 for XY) and XY could reply demanding 8 bars (which leaves 12 bars for you). You alternate in making demands until a demand is accepted or the 30 seconds deadline is reached. In the latter case, the negotiation ends in disagreement but you both still may receive some bars (disagreement payments).  Each of you will know their disagreement payment in advance but not that of the other player.
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/game">Start playing</a>
        </div>
    </div>
</div>

    @code {

    }
