<p>   There is a treasure of 20 gold bars and you negotiate with your partner how to divide them between you two.</p>
<p>   If you start the negotiation, you may say to your partner: "I want 6 gold bars and you will get 14". Your partner might agree or not.  </p>
<p>   If your partner agrees, then you get 6 bars, your partner gets 14, and the negotiation is over.</p>
<p>   Otherwise, your partner proposes something else saying, for example, "I can give you 5 bars. I will keep 15 bars."</p>
<p>   You might accept this offer (and get 5 bars leaving 15 to your partner) or not, proposing something else.</p>
<p>   And so on until you reach an agreement or the time is up.</p>
<p>   What happens if you cannot agree and the time is up?</p>
<p>   Your partner will get some bars, but you will never know how many.</p>
<p>   You will also get some bars. You will see how many at the top of the screen before the negotiation starts. Your partner will never know how many you have got.</p>
<p>   Good luck! </p>
@code {

}
