@page "/"


@using MTurk.Data
@using MTurk.UIModels

@inject ISessionService _db
@inject NavigationManager NavigationManager

@if (sessions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex justify-content-center">
        <h3>Welcome to Gold Bar Game</h3>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card mt-4">
            <div class="card-header">
                Please paste below your MTurk Worker ID, so we can pay you.
            </div>
            <div class="p-4">
                <EditForm Model="@worker" OnValidSubmit="@InsertWorkerId">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="WorkerId">Your Worker ID: </label>
                        <InputText id="WorkerId" @bind-Value="worker.WorkerId" />
                    </div>
                    <ValidationSummary />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>
            </div>
        </div>
    </div>
}


@code {
    private List<Session> sessions;
    private Worker worker = new Worker();

    protected override async Task OnInitializedAsync()
    {
        sessions = await _db.GetAllSessionsAsync();
    }
    private async Task InsertWorkerId()
    {
        Session s = new Session() { WorkerId = worker.WorkerId };
        await _db.StartNewSession(s);
        sessions.Add(s);
        worker = new Worker();
        NavigationManager.NavigateTo($"game/{worker.WorkerId}");
    }

}
