@inherits LayoutComponentBase

<div class="main">
    <nav class="page-header bg-dark text-white mb-4">
        <div class="d-flex justify-content-center">
            <h1>Gold Bar Game</h1>
        </div>
    </nav>
    <div class="container px-4 col-12 col-sm-10 col-md-8 col-lg-6">
        @Body

    </div>
</div>
